form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px solid black;
  padding: 20px;
  gap: 20px;
}

div.header {
  font-size: xx-large;
  text-decoration: underline;
}

form > fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

legend {
  font-weight: bold;
}

button {
  align-self: center;
  width: 30%
}

.error.active {
  color: red;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}